.content{
    width:100%;
    height:auto;
    overflow: hidden;
}
.box-group{
    padding:5%;
}
.box{
    border-radius: 3%;
    background-color: #4d598c;
    color: white;
    width:25%;
    margin-left:6%;
    padding: 4%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    overflow-wrap: break-word;
} 
.box h1{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.box .image{
    border: 5px solid white;
    border-radius: 50%;
    width:50%;
    height:15vh;
    margin-left:25%;
    overflow: hidden;
}
.form-container{
    width: 40%;
    margin-left: 30%;
    padding: 1%;
}
.form-container div{
    margin-top: 2%;
}
.form-container input{
    width: 100%;
    height: 5vh;
    font-size: 16px;
    outline: none;
}
.form-container textarea{
    width: 100%;
    font-size: 16px;
    outline: none;
}
.form-container input[type=submit] {
    border: none;
    background: #32438d;
    height: 7vh;
    color: white;
    font-size: 20px;
}
.google-map-container{
    height:75vh;
    padding:1%;
    margin-top:3%;
    margin-bottom:1%;
}

/*responsive design*/
@media (max-width: 1000px) {
    
    .box{
        width: 40%;
        margin-top: 5%;
    }
    .form-container{
        margin-left: 10%;
    }
    .form-container input{
        width: 80%;
    }
    .form-container textarea{
        width: 80%;
    }
}
@media (max-width: 600px) {
    
    .box{
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
        padding: 10%;
    }
    .form-container{
        margin-left: 15%;
    } 
}