.content{
    width:100%;
    height:auto;
    overflow:hidden;
}
.box-group{
    padding: 5%;
}
.box{
    width: 42%;
    height: auto;
    margin-left: 5%;
}
.heading{
    color: #4d598c;
    margin-left: 1%;
    margin-bottom: 5%;
    font-size: 16px;
}
.box li{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 15px;
}
.cctv-image{
    width:25%;
    height:35vh;
}
.description{
    background: #eeeeee;
    width:90%;
    margin-left:5%;
}
.description .box{
    width: 40%;
    height: auto;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 15px;
    text-align: justify;
}
.description p{
    margin-top: 7%;
}
/*responsive design*/
@media (max-width: 600px) {
    
    .box{
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .description .box{
        width:90%;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .description h4{
        text-align: left;
    }
}
