*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif; 
}
img,video,iframe{
    width:100%;
    height:100%;
}
iframe{
    border:none;
}
a{
    color: white;
    text-decoration: none;
}
.main-container{
    width:100%;
    height:auto;
}
.banner-container{
    position:relative;
    width:100%;
    height:auto;
    z-index: -1;
}
.banner-container-video{
    height: 100vh;
    overflow: hidden;
}
.banner-video{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.banner-image{
    height:60vh;
}
.banner-text{
    color:white;
    position: absolute;
    top: 50%;
    width:100%;
    font-style: normal;
    text-align: center;
    overflow: hidden;
    animation: fadeInTop 3s forwards;
}
@keyframes fadeInTop {
    from{ top: 0%; }
    to{ top: 50%; } 
}
.banner-container h1{
    font-size: 65px;
}
.banner-container p{
    font-size: 20px;
    margin-top: 1%;
}
.banner-container-video h1{
    font-size: 30px;
    animation: fadeinzoom 3s alternate infinite;
}
@keyframes fadeinzoom {
    from{ transform: scale(1.0,1.0); }
    to{ transform: scale(0.9,0.9); } 
}
.banner-container-video p{
    font-size: 20px;
    margin-top:2%;
}
.content-container{
    position:relative;
    width:100%;
    height:auto;
    font-family: "Lato", sans-serif;
}
.box-group{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-left{
    order: 1;
}
.flex-right{
    order: 2;
}
/*responsive design */
@media (max-width: 1000px) {

    .banner-image{
        height: 50vh;
    }
    .banner-container-video{
        height: 60vh;
    }
    .flex-left{
        order: 0;
    }
    .flex-right{
        order: 0;
    }
}
@media (max-width: 600px) {

    .banner-image{
        height: 40vh;
    }
    .banner-container-video{
        height: 35vh;
    }
    .banner-video{
        width: 100%;
    }
    .banner-container-video .banner-text{
        display: none;
    }
    .banner-container .banner-text h1{
        font-size: 30px;
    }
    .banner-container .banner-text {
        width:90%;
        margin-left: 5%;
    }
}
